
:root {
	--color-primary-dark: #1919A3;
	--color-primary-light: #84C9FD;
	--color-hit: #EE0000;
	--color-miss: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Coda', cursive;
	font-weight: 400;
	background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.container {
	max-width: 120rem;
	margin: 4rem auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.game {
	display: flex;
	justify-content: center;
}

.game__header {
	text-align: center;
	margin: 2rem;
	font-weight: 800;
}

.score {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-height: 93rem;
	padding: 1rem;
	margin-top: 2.5rem;
	border: 2px solid black;
	border-radius: 3px;
	width: 26%;
	background-color: #fff;
	box-shadow: 0 2rem 6rem rgba(0,0,0, .3);
}

.board {
	display: flex;
	align-items: stretch;
	margin: 1.5rem;
	padding: 1rem;
	width: 80%;
}

.details {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
}

.ship-container {
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.ship-container > span {
	margin-top: 2rem;
	padding: 1rem;
	padding-bottom: 0;
}

.ship-container > img {
	width: 80%;
	height: 7rem;
	margin: 0 1.5rem;
}


h1 {
    font-size: 7rem;
}

table {
	border-radius: 3px;
    border-collapse: collapse;
	box-shadow: 0 2rem 6rem rgba(0,0,0, .3);
}

tr, td {
    border: 2px solid #fff;
    padding: 4rem;
	background-color: rgba(229,229,229, .2);
}

td:hover {
	background-color: #6D6D6D;
	cursor: crosshair;
}

.ship-hits {
	display: flex;
	color: var(--color-hit);
	margin-bottom: 1rem;
}

.ship-hits > p {
	margin: 1rem 1.5rem;
}

#torpedos,
#ships {
	flex: 0 0 none;
	font-size: 2.5rem;
	padding: 1rem;
	margin-right: -1rem;
	z-index: 1;
}

.hit {
	background-color: var(--color-hit);
}

.miss {
	background-color: var(--color-miss);
}

/* Popup Styling - Gameover & Sunk */

.popup_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0,0,0,.7);
	background-size: cover;
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	animation: show .5s ease,
}

/* Fade-in open animation */
  @keyframes show: {
    0% {
      display: none;
      opacity: 0;
    },
    1% {
      display: flex;
      opacity: 0;
    },
    100%: {
      opacity: 1;
    }
  }

.popup {
	margin: 5rem;
	background-color: #fff;
	border-radius: 3px;
	width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#close {
	position: absolute;
	top: 0;
	left: 70rem;
	font-size: 2.5rem;
	border: none;
	padding: 2rem;
}

.gameover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
}

.gameover__msg {
	font-weight: 800;
	font-size: 12rem;
}

.gameover__restart {
	font-size: 5rem;
	text-align: center;

}

.gameover__restart > p {
	padding: 3rem;
}

.sunk {
	font-size: 5rem;
	text-align: center;
	margin: 6rem;
}

#sunk__msg {
	margin: 3rem;
}

#sunk__msg > p {
	padding-bottom: 5.5rem;
}

.btn {
	font-weight: bold;
	color: #eee;
	text-shadow: 1px 2px rgba(0,0,0);
	padding: 2rem 6rem;
	font-size: 3rem;
	margin: 0 4rem;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1rem 3rem rgba(0,0,0, .6);
	transition: all .2s;
}

.btn:hover {
	transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}

.btn:active,
.btn:focus,
.btn:visited {
	outline: none;
}

.btn:active {
	transform: translateY(-.1rem);
}

#y {
	background-color: #66CD00;
}

#y:hover {
	background-color: #5bb800;
}

#n {
	background-color: #EE0000;
}

#n:hover {
	background-color: #be0000;
}

.foot {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 5rem;
	color: #f4f2f2;
	flex: 0 0 auto;
}

/* Add module for win and lose with button to play again? */
