* {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.score-container {
	display: flex;
	flex-direction: row;
    margin: 15px;
    padding: 10px;
}

.board-container {
	display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.scoreboard {
	display: flex;
	flex-direction: row;
    justify-content: center;
	width: 100%;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
    padding: 15px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
	width: 100%;
	height: 650px;
}

tr, td {
    border: 2px solid black;
    padding: 30px;
}

img {
    padding: 15px;
}

#torpedo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 50%;
}

#ship {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 25%;
}

.ship-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#Carrier > img {
	width: 150px;
	height: 50px;
}

#Battleship > img {
	width: 150px;
	height: 50px;
}

#Destroyer > img {
	width: 150px;
	height: 50px;
}

#Sub > img {
	width: 150px;
	height: 50px;
}

#Frigate > img {
	width: 150px;
	height: 50px;
}
